{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
<div class="container" style="padding: 32px">
    {# <div class="container" style="margin-bottom: 32px">
        <div class="row">
        <div class="count">
Nombre d'item : {{ pagination.getTotalItemCount }}

</div> #}
    <div class="row">
    {% for produit in produits %}
        <div class="col">
                        <div class="product-row">
                            <img  alt="Croquette pour chiens" src="{{asset('img/' ~ produit.photoProduit)}}">
                            <div class="product-text-container">
                             <a href="{{ path('app_produits_show', {'id': produit.id}) }}">
                                <p>{{produit.titre}}</p>
                            </a>
                            </div>
                            <div>
                                <p>{{produit.prix}}</p>
                            </div>
                            <div>
                                        <a href="{{path("app_basket_add", {id: produit.id})}}" class="btn btn-success">
                                    <i class="bi bi-cart-plus"></i> Ajouter au panier
                                </a>
                            </div>
                        </div>
                </div>
    {% else %}
    <div>
        <p>Aucun produits.</p>
    </div>
    {% endfor %}
    <div class="navigation" style="display: flex; justify-content: center">
    {{ knp_pagination_render(pagination) }}
</div>
</div>
  </div>
    </div>
    </div>
{% endblock %}
