{% extends 'base.html.twig' %}

{% block title %}Envoyer votre chien dans l'espace{% endblock %}

{% block body %}
   
<div class="container" style="padding: 32px">
    <div class="row" style="margin-bottom: 64px; margin-top: 32px;">
        <p>Grace a SpaceChien vous pouvez désormais envoer votre chien dans l'espace</p>
    </div>
    <div class="row" style="margin-bottom: 64px;margin-top: 32px; align-items: center">
        <div class="col">
                <img src={{ asset('img/istockphoto-1180215295-612x612.jpg')}} alt="" style="border-radius: 12px">
        </div>  
        <div class="col">
            <p>Envoyer votre chien en Orbite</p>
            <p>blablablablablablabbla bla</p>
            <button class="btn btn-success" >Loreum</button>
        </div>
    </div>
     <div class="row" style="margin-bottom: 64px;margin-top: 32px; align-items: center">
        <div class="col">
            <p>Envoyer votre chien en Orbite</p>
            <p>blablablablablablabbla bla</p>
            <button class="btn btn-success">Loreum</button>
        </div>
        <div class="col">
            <img src={{ asset('img/istockphoto-1180215295-612x612.jpg')}} alt="" style="border-radius: 12px">
        </div> 
    </div>

     <div class="row" style="margin-bottom: 32px;margin-top: 32px;">
        <div class="col">
            <img src={{ asset('img/istockphoto-1180215295-612x612.jpg')}} alt="" style="border-radius: 100px;width: 250px;
height: 250px;">
        </div>
        <div class="col">
            <img src={{ asset('img/istockphoto-1180215295-612x612.jpg')}} alt="" style="border-radius: 100px;width: 250px;
height: 250px;">
        </div>
        <div class="col">
            <img src={{ asset('img/istockphoto-1180215295-612x612.jpg')}} alt="" style="border-radius: 100px;width: 250px;
height: 250px;">
        </div>
        <div class="col">
            <img src={{ asset('img/istockphoto-1180215295-612x612.jpg')}} alt="" style="border-radius: 100px;width: 250px;
height: 250px;">
        </div>
    </div>
</div>

{% endblock %}
